@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

.ValentineCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  background-color: pink;
}
.final {
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  height: 300px;
  max-width: 100%;
  text-align: center;
  border-radius: 15px;
}
@keyframes slideLeftToRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
.secondfinal {
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  height: auto;
  max-width: 100%;
  animation: slideLeftToRight 5s infinite;
}

.front-Background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("https://cdnb.artstation.com/p/marketplace/presentation_assets/002/868/241/large/file.jpg?1689637635");
  height: 100vh;
  width: 125vh;
  background-size: cover;
  background-position: center;
  text-align: center;
}

.final-Background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("https://cdnb.artstation.com/p/marketplace/presentation_assets/002/868/239/large/file.jpg?1689637623");
  height: 100vh;
  width: 125vh;
  background-size: cover;
  background-position: center;
  text-align: center;
}
p {
  color: red;
  font-family:
    BLucida Handwriting,
    Cursive;
  font-weight: bold;
}

.Text {
  padding-top: 30px;
  text-align: center;
  font-family: "Great Vibes", cursive;
  height: 100px;
  width: 600px;
  color: red;
  font-size: 50px;
  font-weight: bold;
}
.flower {
  height: 400px;
  width: 400px;
}
.heart {
  height: 60px;
  width: 60px;
}
.YesButton {
  border-radius: 15px;
  color: white;
  background-color: green;
}
.NoButton {
  border-radius: 15px;
  color: white;
  background-color: red;
}
